.places__text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 48px 0 0;
}

@media screen and (max-width: 1023px) {
    .places__text {
        gap: 25px;
    }
}

@media screen and (max-width: 767px) {
    .places__text {
        margin: 32px 16px 0;
    }
}