@font-face {
    src:
        url(../fonts/Inter-Regular.otf) format('otf');
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    ;
    font-weight: 400;
}

@font-face {
    src:
        url(../fonts/Inter-Bold.otf) format('otf');
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    ;
    font-weight: 700;
}

@font-face {
    src:
        url(../fonts/Inter-Black.otf) format('otf');
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    ;
    font-weight: 900;
}