.lead__main-illustration {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

@media screen and (max-width: 1279px) {
    .lead__main-illustration { 
        margin: 0;
    }
}


@media screen and (max-width: 1023px) {
    .lead__main-illustration { 
        max-width: 100vw;
    }
}